# Core ML
numpy>=1.26
pandas>=2.0
scikit-learn>=1.3
scipy>=1.11
matplotlib>=3.7

# NLP / Encodeurs
nltk>=3.8
gensim>=4.3
sentence-transformers>=2.2
transformers>=4.35
torch>=2.0
accelerate>=0.25
peft
bitsandbytes

# Hydra
hydra-core>=1.3
omegaconf>=2.3

# Datasets
convokit>=3.0

# Utilitaires
tqdm>=4.65
